<div class="container padded">
<div class="card" style="width: 20rem;">
  <img class="card-img-top"  src="{{auction.car.imageUrl}}"  height="100px" width="200px">
  <div class="card-block">
    <h4 class="card-title">{{auction.car.carBrand}} {{auction.car.carModel}}</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Price</b>:{{auction.car.price}}</li>
    <li class="list-group-item"><b>Year</b>:{{auction.car.year}}</li>
    <li class="list-group-item"><b>Seller</b>:{{auction.seller.username}}</li>
  </ul>
  <div class="card-block">
    <a href="#" class="card-link" >Tell me More!</a>
  </div>
</div>
</div>
